.corpo {
	margin-left: 15%;
	margin-right: 15%;
}

.copy {
	text-align: center;
}

.navbar.navbar-expand-lg.bg-body-tertiary {
	padding-top: 0;
}

.container-fluid {
	background-color: black;
	text-transform: uppercase;
	padding-left: 15%;
	padding-top: 12px;
	padding-bottom: 12px;
}

#logo {
	width: 10%;
}

.navbar-brand {
	color: white;
	font-weight: bold;
	font-size: 30px;
}

a.navbar-brand:hover {
	color: white;
}

.navbar-nav .nav-link.active {
	color: white;
	font-weight: bold;
}

.btn.btn-outline-secondary.edit {
	background-color: #ffc107;
	border: 0;
}

input.form-check-input {
	border: 1px solid black;
}


.btn.btn-outline-secondary.edit a {
	text-decoration: none;
	color: black;
}

.btn.btn-outline-secondary.del {
	background-color: #dc3545;
	border: 0;
}

.btn.btn-outline-secondary.del a {
	text-decoration: none;
	color: white;

}

.card {
	float: right;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 2%;
}


.card h6 {
	margin-top: 1%;
}

h5.card-title {
	font-weight: bold;
	margin-bottom: 1%;
}

.info.col-10 {
	float: right;
	margin-right: 0;
	margin-bottom: 0;
	margin-top: 0;
	padding-left: 2%;
	font-weight: bold;
}

.info.col-10 h6 {
	margin: 0;
}


.btn.btn-primary.position-relative.col-2 {
	background-color: black;
	font-weight: bold;
	font-size: 30px;
	padding: 0;
	border: 0;

}

h6.plat {
	margin-top: 2%;
}

.filtro {
	margin-bottom: 2%;
	padding-left: 12%;
}

.criticas {
	margin-right: 3%;
	margin-left: 2%;
}


div.container.bg-tertiary-color.text-dark-text-emphasis {
	padding-top: 20px;

}

.critica-form {
	margin-left: 20%;
	margin-right: 20;
}

#txt-spo {
	margin-top: 15px;
}

#submit {
	margin-top: 15px;
}

#check {
	padding-left: 0;

}

.check {
	margin-left: 24px;
}

#data {
	margin-top: 15px;
}

input.form-control {
	margin-left: 18%;
}

#busca-game {
	margin-left: 9%;
}