body {
	background-color: #1f1f1f;
	color: white;
}

body::-webkit-scrollbar {
	display: none;
}

header {
	text-align: center;
	height: 80px;
	background-color: rgb(14, 14, 14);
	align-items: center;
	display: flex;
}

.logo-main {
	width: 80%;
	padding-left: 35vh;
}

.logo-main h1 {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 6vh;
}

.logo-main a {
	color: white;
	text-decoration: none;
}

.logo-main img {
	width: 60px;
}

.area-user {
	width: 20%;
	text-align: center;
}

.fa-solid.fa-user.fa-xl::before {
	border: 3px solid white;
	border-radius: 50%;
	padding: 6px 9px;
}

.fa-solid.fa-user-secret.fa-xl::before {
	border: 3px solid white;
	border-radius: 50%;
	padding: 6px 8px;
}

.area-user a {
	text-decoration: none;
	color: white;
	padding: 0 7px;
}

.area-user a:hover {
	color: gray;
}

#espaco {
	padding-right: 10px;
}

.menu {
	text-align: center;
	padding: 15px 0;
	margin: 0 17%;
	border-top: 3px solid white;
	text-transform: uppercase;
}

.menu a {
	text-decoration: none;
	padding: 0 30px;
	color: white;
	font-weight: bold;
	font-size: 13px;
}

.menu a:hover {
	color: gray;
}

#divi {
	margin: 0 20%;
	border-bottom: 3px solid white;
}

section#contato {
	text-align: center;
	padding: 30px 0;
	background-color: rgb(14, 14, 14);
}


.contato ul {
	display: flex;
	text-align: center;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 20px;
	margin: 0;
}

.contato li {
	list-style-type: none;
	padding: 0px 40px;
	width: 40%;
}

.contato p {
	color: gray;
}

footer {
	background-color: white;
	text-align: center;
	color: black;
	padding: 3px 0;
}

footer p {
	margin-bottom: 0;
}

section#carrossel {
	text-align: center;
	padding-bottom: 20px;
}

.carousel-control-next {
	margin-top: 35vh;
	height: 20vh;
}

.carousel-control-prev {
	margin-top: 35vh;
	height: 20vh;
}

section#plataformas {
	text-align: center;
	padding: 40px 0;
	margin: 0 20%;
}

section#plataformas h3 {
	text-transform: uppercase;
	font-weight: bold;
}


.plataformas ul {
	display: flex;
	text-align: center;
	padding-top: 10px;
	padding-left: 0;

}

.plataformas li {
	list-style-type: none;
	padding: 10px 40px;
	width: 30%;
}

.plataformas img {
	width: 100px;
}

#xbox p {
	padding-top: 10px;
}

#ximg {
	width: 90px;
	padding-top: 5px;
}

#play p {
	padding-top: 12px;
}

#pimg {
	width: 115px;
	padding-top: 5px;
}

#wind {
	padding-top: 2px;
}

#wind p {
	padding-top: 5px;
}

#wimg {
	width: 110px;
}

#switch p {
	padding-top: 5px;
}

section#jogos {
	display: flex;
	padding: 0 0 40px 0;
	margin: 0 5%;
}

.games {
	width: 55%;
	padding: 0;
}

.game {
	display: flex;
	margin-bottom: 20px;
	background-color: rgb(38, 38, 38);
	border: 1px solid black;
	color: white;
}

.game p {
	color: gray;
	margin: 0;
	text-align: justify;
}

.game h6 {
	margin: 0;
	color: rgb(164, 164, 164);
}

.imgGame {
	width: 30%;
	text-align: center;
	border-right: 1px solid black;
}

.imgGame img {
	width: 100%;
}

#imgGameErro {
	font-size: 14px;
	padding: 45px 10px;
	text-align: center;
}

.infoGame {
	width: 70%;
	float: right;
	padding: 10px 15px;
}

#acoesGame {
	margin-top: 10px;
}

#editarGame {
	text-decoration: none;
	background-color: white;
	color: black;
	padding: 2px 5px;
	border-radius: 5px;
}

#deletarGame {
	text-decoration: none;
	background-color: rgb(91, 91, 91);
	color: white;
	padding: 2px 5px;
	border-radius: 5px;
}



.newsGames {
	width: 45%;
	padding-left: 20%;
	text-align: justify;

}

.imgNews img {
	width: 100%;
	border-bottom: 1px solid rgb(14, 14, 14);
}

.infoNews {
	padding: 5px 10px;
	background-color: rgb(38, 38, 38);
}

.infoNews a {
	text-decoration: none;
	color: white;
}

.infoNews a:hover {
	color: gray;
}

#borderNew {
	border: 1px solid rgb(14, 14, 14);
	margin-bottom: 20px;
}



form.new-critica {
	width: 65%;
	margin: auto;
	display: block;
}

form.new-critica h2 {
	margin-top: 4vh;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

.new-critica {
	margin: 5vh 0;
	display: flex;
}

.critica {
	width: 70%;
}

.newsCritica {
	width: 30%;
	padding-left: 6vh;
	text-align: justify;
}

#txt-spo.form-label {
	margin-top: 2vh;
}

form.new-critica button {
	margin-top: 2vh;
	width: 40%;
	background-color: rgb(14, 14, 14);
	color: white;
	border: 2px solid gray;
	border-radius: 10px;
	height: 38px;
}




.new-game {
	width: 70%;
	margin: auto;
	margin-bottom: 5vh;
}

form.new-game h2{
	text-align: center;
	margin: 4vh;
}

#data.input-group.mb-3 {
	margin-top: 2vh;
}

.new-game img {
	width: 30vh;
}

.new-game button {
	width: 40%;
	background-color: rgb(14, 14, 14);
	color: white;
	border: 1px solid gray;
	border-radius: 10px;
	height: 35px;
	margin-top: 3vh;
}


form.login {
	margin: 5vh 0;
}

.login-form {
	background-color: rgb(38, 38, 38);
	padding: 4vh 5vh;
	width: 40%;
	margin: auto;
}

.login-form h1 {
	margin-bottom: 4vh;
}

.login-form label{
	width: 80%;
	font-size: 20px;
	margin-bottom: 1vh;
}

.login-form input {
	background-color: rgb(38, 38, 38);
	border: 0;
	border-bottom: 2px solid black;
	margin-bottom: 2vh;
	width: 90%;
	color: white;
}

.login-form input::placeholder {
	color: gray;
}

.login-form button {
	width: 40%;
	background-color: rgb(14, 14, 14);
	color: white;
	border: 1px solid gray;
	border-radius: 10px;
	height: 35px;
}


form.register {
	margin: 5vh 0;
}

.register-form {
	background-color: rgb(38, 38, 38);
	padding: 4vh 5vh;
	width: 40%;
	margin: auto;
}

.register-form h1 {
	margin-bottom: 4vh;
}

.register-form label{
	width: 80%;
	font-size: 20px;
	margin-bottom: 1vh;
}

.register-form input {
	background-color: rgb(38, 38, 38);
	border: 0;
	border-bottom: 2px solid black;
	margin-bottom: 2vh;
	width: 90%;
	color: white;
}

.register-form input::placeholder {
	color: gray;
}

.register-form button {
	width: 40%;
	background-color: rgb(14, 14, 14);
	color: white;
	border: 1px solid gray;
	border-radius: 10px;
	height: 35px;
}