#{extends 'main.html' /}
#{set title:'Adicionar Game' /}

<div class="container bg-tertiary-color text-dark-text-emphasis">

<form action="@{Games.salvar}">

	<input type="hidden" name="g.id" value="${g?.id}">
    <br>
	<br>
    
    <div class="col">
    <label class="form-label">Jogo</label>
    <input name="g.nome" value="${g?.nome}" type="text" class="form-control" placeholder="Digite o nome do game">
  </div>
	
    
    
    <br>
	<br>
	<div class="col">
    <label class="form-label">Gênero</label>
    <input name="g.genero" value="${g?.genero}" type="text" class="form-control" placeholder="Qual o gênero do game?">
  </div>
	

	<br>
	<br>
    
    <div class="col">
    <label class="form-label">Desenvolvedor(a)</label>
    <input name="g.desenvolvedor" value="${g?.desenvolvedor}" type="text" class="form-control" placeholder="Qual o desenvolvedor(a) do game?">
  </div>
	

	<br>
	<br>
	
	<label class="form-label">Plataformas suportadas</label>
	<div class="form-check">
  <input name="g.plataforma" class="form-check-input" type="checkbox" value="PlayStation" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    Playstation
  </label>
</div>
<div class="form-check">
  <input name="g.plataforma" class="form-check-input" type="checkbox" value="Xbox" id="flexCheckChecked">
  <label class="form-check-label" for="flexCheckChecked">
    Xbox
  </label>
</div>
<div class="form-check">
  <input name="g.plataforma" class="form-check-input" type="checkbox" value="Windows" id="flexCheckChecked">
  <label class="form-check-label" for="flexCheckChecked">
    Microsoft Windows
  </label>
</div>
<div class="form-check">
  <input name="g.plataforma" class="form-check-input" type="checkbox" value="Linux" id="flexCheckChecked">
  <label class="form-check-label" for="flexCheckChecked">
    Linux
  </label>
</div>



	<br>
	<br>
<div class="col">
    <label class="form-label">Data de lançamento</label>
    <input name="g.lancamento" value="${g?.lancamento}" type="date" class="form-control" name="g.lancamento" value="${g?.lancamento}">
  </div>
	
<br>
	<br>

	<button class="btn btn-primary" type="submit">Enviar jogo]</button>
	<br>
	<br>
	</form>
	</div>