#{extends 'main.html' /}
#{set title:'Lista dos games' /}


<form action="@{Games.listar}">



	
	
		
		
	
		#{list items:lista, as:'g'}
		<div class="container bg-tertiary-color text-dark-text-emphasis">
		<div style="position: relative; right: 27%;" class="card">
  <h1 class="card-header">${g.nome}</h1>
  <div class="card-body">
    <h4 class="card-title">${g.desenvolvedor}</h4>
    <p class="card-text">Gênero: ${g.genero}</p> 
    <p class="card-text">Platafomas supotadas: ${g.plataforma}</p>
    <p class="card-text">Data de lançamento: ${g.lancamento}</p>
     
    <a class="btn btn-warning" role="button" href='@{Games.editar(g.id)}'>Editar</a> <a class="btn btn-danger" role="button" href='@{Games.deletar(g.id)}'>Deletar</a>
  </div>
</div>
</div>
	#{/list}
	
</form>
		
		