#{extends 'main.html' /}
#{set title:'Nova Critica' /}

<form action="@{Criticas.salvar}">

	<input type="hidden" name="c.id" value="${c?.id}">

	<label>Usuario</label>
	<input type="text" name="c.usuario" value="${c?.usuario}" placeholder="Digite como gostaria de ser chamado">

	<br>
	<br>

	<label>Game</label>
	<select name="c.game.id">
		<option></option>

		#{list items:games, as:'g'}
		<option value="${g.id}">${g.nome}</option>
		#{/list}
	</select>

	<br>
	<br>

	<label>Plataforma</label>
	<select name="c.plataforma">
		<option value=""></option>
		<option value="PlayStation">PlayStation</option>
		<option value="Xbox">Xbox</option>
		<option value="Windows">Microsoft Windows</option>
		<option value="Linux">Linux</option>
	</select>

	<br>
	<br>

	<label>Nota</label>
	<input type="text" name="c.nota" value="${c?.nota}" placeholder="Qual a nota do game?">

	<br>
	<br>

	<label>Análise</label>
	<textarea id="msg" name="c.analise" value="${c?.analise}" placeholder="Digite sua opinião sobre game"></textarea>

	<br>
	<br>

	<input type="checkbox" name="c.spoiler" value="sim">
	<label>Marque caso sua análise contenha spoilers</label>


	<br>
	<br>

	<button>Enviar análise</button>