#{extends 'main.html' /}
#{set title:'Avaliações dos games' /}


<form action="@{Criticas.listar}">
	
	<!-- <input type="search" name="busca" value="${busca}" placeholder="Informe o termo de busca">
	<br> -->
	<label>Algumas análises podem conter spoilers, deseja que te salvemos de tal barbarie?</label>
	<br>
	<input type="checkbox" name="busca" value="nao"> Claro, não quero spoiler
	<button>Buscar</button>
	
</form>	
	
	<br>
	<br>
	 
	#{list items:lista, as:'c'}
    <tr>
      ${c.id} | ${c.usuario} • ${c.game?.nome} • ${c.plataforma} • ${c.nota} • ${c.analise} • ${c.spoiler}| 
      <a href='@{Criticas.editar(c.id)}'>Editar</a> - <a href='@{Criticas.deletar(c.id)}'>Deletar</a> </td>
	<tr>
		<br>
	#{/list}
	
  </tbody>
</table>