#{extends 'main.html' /}
#{set title:'Avaliações dos games' /}


<form action="@{Criticas.listar}">

	<div class="corpo">

		<div class="filtro">
			<!-- <input type="search" name="busca" value="${busca}" placeholder="Informe o termo de busca">
	<br>
			<label>Filtrar por:</label>
			
			<br>

			<label>Game</label>
			<select name="busca">
				<option></option>
				#{list items:games, as:'g'}
				<option value="${g.id}">${g.nome}</option>
				#{/list}
			</select>
			-->

			<label>Algumas análises podem conter spoilers, deseja que te salvemos de tal barbarie?</label>
			<br>
			<input type="checkbox" name="busca" value="nao"> Claro, não quero spoiler
			<button class="btn btn-primary">Buscar</button>
		</div>
		
	</div>
	
	
	
	<div class="criticas">
			#{list items:lista, as:'c'}
	<div class="container bg-tertiary-color text-dark-text-emphasis">
		<div style="position: relative; right: 27%;" class="card">
  <h1 class="card-header">${c.nota}</h1>
  <div class="card-body">
    <h4 class="card-title">${c.game?.nome}</h4>
    <p class="card-text">Usuario: @${c.usuario}</p> 
    <p class="card-text">Platafomas supotadas: ${c.plataforma}</p>
    <p class="card-text">Analise: ${c.analise}</p>
    
     
    <a class="btn btn-warning" role="button" href='@{Criticas.editar(c.id)}'>Editar</a> <a class="btn btn-danger" role="button" href='@{Criticas.deletar(c.id)}'>Deletar</a>
  </div>
</div>
</div>

			#{/list}
	</div>
</form>
<div class="container-xxl"><h6 style="position: relative; bottom: 100%;">&copy; Luiz Eduardo e Daniel Filho</h6></div>




