#{extends 'main.html' /}
#{set title:'Cadastrar Usuário' /}

<form class="register" action="@{Usuarios.salvar}">

	<div class="register-form">
		<h1>Cadastre-se</h1>
		<div>
			<div class="usu-form">
				<label>Nome</label>
				<input type="text" name="usu.nome" value="${c?.usuario}" placeholder="Digite seu nome">


				<label>Usuário</label>
				<input type="text" name="usu.usuario" value="${c?.usuario}" placeholder="Digite seu nome de usuário">
			</div>

			<div>
				<label>Senha</label>
				<input type="password" name="usu.senha" name="usu.senha" value="${usu?.senha}" placeholder="Digite sua senha">
			</div>
		</div>

		<button>Cadastrar</button>

	</div>

</form>